In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
train=pd.read_csv("Train (4).csv")
test=pd.read_csv("Test (5).csv")
submission=pd.read_csv("SampleSubmission (19).csv")

In [18]:
train.head()

        ID                                               text  target
0  train_0            The bitcoin halving is cancelled due to       1
1  train_1  MercyOfAllah In good times wrapped in its gran...       0
2  train_2  266 Days No Digital India No Murder of e learn...       1
3  train_3  India is likely to run out of the remaining RN...       1
4  train_4  In these tough times the best way to grow is t...       0

In [19]:
test.head()

       ID                                               text
0  test_2         Why is  explained in the video take a look
1  test_3            Ed Davey fasting for Ramadan No contest
2  test_4   Is Doja Cat good or do you just miss Nicki Minaj
3  test_8  How Boris Johnson s cheery wounded in action p...
4  test_9  Man it s terrible Not even a reason to get on ...

In [20]:
submission.head()

       ID  target
0  test_2       0
1  test_3       0
2  test_4       0
3  test_8       0
4  test_9       0

In [21]:
train.value_counts()

ID          text                                                                                                                                           target
train_0     The bitcoin halving is cancelled due to                                                                                                        1         1
train_5020  When she kissed you Wimbledon commentator stop treating women next to me speak of dogs                                                         0         1
train_5019  Clearly breaking down in detail what to expect in the next few months                                                                          1         1
train_5018  so many of my friends with just giving pages this Ramadan Allahumma barik WE LOVE TO SEE IT                                                    0         1
train_5017  The passing of Sh Basheer Suweid yesterday on the 2nd of Ramadan He was a Quran teacher having memorized it at 10yrs o                         0         1
                                                                                                                                                                    ..
train_2936  melaye No matter how hard things will be in this period of  You will never be fed by your enemies God will sustain and                         1         1
train_2935  Just remembered a time when a friend said that he thought Ramadan was a month where people get to go around look for Dan s to shag Good times  0         1
train_2932  In a time of plague willful blindness is a coping mechanism writes                                                                             1         1
train_2931  IAS In my experience people have tested ive in 2nd test even after testing ive once amp completing 14 days quarantine Al                       1         1
train_998   Modi s Mehul Bhai has won big from                                                                                                             1         1
Length: 5287, dtype: int64

In [22]:
train.size

15861

In [23]:
train.shape

(5287, 3)

In [24]:
train.corr()

        target
target     1.0

In [25]:
import re
import io
import gc
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import random
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, precision_score, mean_absolute_error, mean_squared_error,auc
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [28]:
def preprocessing(text):
    text = re.sub(r'@\w+', '', text) # removes all the usernames starting with @
    text=re.sub(r'http\S+', '', text) # removes all the web adresses
    # Remove specified keywords
    keywords = ['corona', 'coronavirus', 'covid', 'covid19', 'covid-19', 'sarscov2', '19']
    text = re.sub(fr'\b({"|".join(keywords)})\b', '', text, flags=re.IGNORECASE)
    
     # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z]', ' ', text)
    # Convert to lowercase
    text = text.lower()
     # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

In [29]:
train['text']=train['text'].apply(preprocessing)
test['text']=test['text'].apply(preprocessing)

In [30]:
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(train['text'])
X_test = vectorizer.transform(test['text'])
y_train = train['target']

In [31]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [32]:
y_train_pred = model.predict_proba(X_train)[:, 1]
train_auc = roc_auc_score(y_train, y_train_pred)
print("Train AUC:", train_auc)

Train AUC: 0.9930291794325431

In [34]:
# Step 7: Generate Predictions
y_test_pred = model.predict_proba(X_test)[:, 1]

In [35]:
submission_df = pd.DataFrame({'ID': test['ID'], 'target': y_test_pred})
submission_df.to_csv('submissionari.csv', index=False)

In [37]:
from IPython.display import FileLink
submission_df.to_csv("submissionari.csv", index=False)
FileLink("submissionari.csv")

C:\Users\ADMIN\submissionari.csv